<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"> <i class="fas fa-sign-in-alt"></i>Your PDF is Ready</h1>
                    
        <form action="/download" method="POST">
          <button type="submit" class="btn btn-primary btn-block">Download</button>
        </form>
      </div>
    </div>
  </div>