<div class="row mt-5">
    <div class="col-md-5 m-auto">
        <div class="card card-body">
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <h5 id="h5">Select images to convert to pdf</h5>
                <input type="file" multiple name="myImage" onchange="fn2()" /><br>
                <input type="radio" name="resize" id="resize" onclick=yresize()>Reduce size</input><br>
                <input type="radio" name="resize" id="dnresize" onclick=dresize()>Don't reduce size</input>
                <br> <button type="submit" class="btn btn-primary m-2" id="btn1" onclick="fn1()">Convert</button>
                <button class="btn btn-primary m-2" disabled id="btn2">Convert</button>
            </form>
            <script>
                document.getElementById("btn1").style.visibility = "hidden"
                document.getElementById("btn2").style.visibility = "visible"

                function fn2() {
                    document.getElementById("btn2").style.visibility = "hidden"
                    document.getElementById("btn1").style.visibility = "visible"
                }

                function fn1() {
                    document.getElementById("load1").innerHTML = "Converting..."
                    document.getElementById("load2").className = "spinner-border text-primary"
                }
                document.getElementById("resize").checked = true
                yresize()

                function yresize() {
                    data = document.cookie = "resize" + "=" + "true" + "; path=/";
                    console.log(data)
                }

                function dresize() {
                    data = document.cookie = "resize" + "=" + "" + "; path=/";
                    console.log(data)
                }
            </script>

            <h4 id="load1"></h4>
            <div id="load2" class="" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>